@import '~@angular/material/prebuilt-themes/indigo-pink.css';

h3 {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    width: 100%;
}

.spacer {
    height: 50px;
}

.mat-header-cell {
    text-align: center;
}

.addButton {
    align-self: center;
}